
.subtitle {
    width: 60%;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FEFFFF;
    border-radius: 5px;
    padding: 25px
}

span {
    font-weight: bolder;
}

h1 {
    color: rebeccapurple;
}

.App-header {
    background-image: url("./images/earthbody.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 25px
}

@media (min-width: 696px) {
    .App-header {
        padding: 65px;
    }
}
