.content-page {
 text-align: left;
 padding-left: 3em;
 padding-right: 3em;
 padding-top: 1em;
 padding-bottom: 1em;
 margin-left: 1em;
 background-color: #1AB28C;
}

.content-page button {
 padding: 1em;
 align-items: right;
}

.title_note {
 color: white;
}