body {
    color: black;
}

.Visited-list {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
}

button {
    padding: 2px;
    border-radius: 1px;
    border: none
}